.user-detail {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.user-detail img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.user-detail p {
  margin-top: 1rem;
}
.back-btn {
  position: absolute;
  top: 50px;
  right: 88px;
  width:70px;
  height: 40px;
  background-color: #ebf2f9ff;
  color: #1689fd;
  border-radius: 50rem;
  font-size: 30px;
}
