.user {
  width: 100%;
  font-size: 20px;
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .user {
    width: 25%;
  }
}
.user img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  transition: 0.3s all;
}
.user img:hover {
  cursor: pointer;
  opacity: 0.88;
}
